@charset "UTF-8";html,body,div,span,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,
form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,
summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}i,em{font-style:normal}
ul,ol{list-style:none}a{text-decoration:none;cursor:pointer}
a:hover{text-decoration:none}q:before,q:after{content:''}
img{border:0}
button,input,select,textarea{font-size:100%;outline: none;}
table{border-collapse:collapse;border-spacing:0}
html{overflow-y:scroll}
.hide{display:none}
.clearfix:after{content:".";display:block;height:0;visibility:hidden;clear:both}
.clearfix{zoom:1}
a{-webkit-tap-highlight-color:transparent}
.clear{clear:both}
img{display:block}

.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.dropload-down{
    height: 50px;
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.dropload-load .loading{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.header {
    height: 1.2962962963rem;
    width: 100%;
    background: #1b2027;
    text-align: center;
    position: relative;
}
.header a {
    position: absolute;
    left: 0;
    top: 0.0760740741rem;
    padding-left: 0.3518518519rem;
}
.header a i {
    color: #fff;
    font-size: 0.6666666667rem !important;
}
.header h2 {
    color: #fff;
    font-size: 0.4814814815rem;
    font-weight: normal;
    line-height: 1.2962962963rem;
    font-weight: 300;
}

.banner{width: 100%;height: 417px;}
.banner img{
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
}
img[tag=single]{
    width: 100%;
    height: 378px;
    margin: 0 auto;
}

.headerPx{
    height: 98px;width:100%;background: #1b2027;text-align: center;line-height: 98px;
}
.headerPx a{position:absolute;left:27px;}
.headerPx a i{color: #fff;font-size: 50px;}
.headerPx h2{color: #fff;font-size: 38px;font-weight: 300;line-height: 98px;}
.headerPx b{position: absolute;right: 20px;top:0;color: #fff;font-size: 44px;}
.headerPx .moreList{
    position: fixed;right: 0;top:100px;background: #1c2028;
    z-index: 999;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;padding:0 20px  12px 0;
}
.headerPx .moreList p {
    line-height: 30px;font-size: 29px;text-align: left;color: #fff;
    border-bottom: 1px solid #fff;
    margin: 20px 0 0 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.headerPx .moreList p:last-child{border: none;}
.headerPx .moreList p i{margin:0 20px;font-size: 20px;}

.alertStyle .mask{position: fixed;top:0;left: 0;right: 0;bottom: 0;background: rgba(0,0,0,.8);z-index: 999}
.alertStyle .mask .content .title{background: #394350;height: 60px;line-height: 60px;margin: 0;padding: 0 30px;box-sizing: border-box;position: relative}
.alertStyle .mask .content{width: 640px;min-height: 255px;background: #fbf9f9;border-radius: 5px;overflow: hidden;margin: 215px auto 0;padding-bottom: 16px;box-sizing: border-box}
.alertStyle .mask .content h1{font-size: 26px;color: #fff;}
.alertStyle .mask .content .close{position: absolute;color: #fff;font-size: 40px;right: 30px;top:0;padding: 0 10px}
.alertStyle .mask .tip_info{width: 598px;height: auto;box-sizing: border-box;border-radius: 5px;border:1px solid #eae9e9;margin: 15px auto;text-align: center;font-size: 18px;color: #c2c2c2;line-height: 1}
.alertStyle .mask .tip_info h2{font-size: 28px;color: #999999;margin: 20px 0 8px}
.alertStyle .mask .content .btn{width: 138px;height: 54px;line-height: 54px;text-align: center;color: #fff;font-size: 20px;background: #394350;border-radius: 5px;}
.alertStyle .mask .content .okBtn{margin: 20px auto 0}
.alertStyle .mask .content .btn-group{margin: 20px auto 0;width: 396px;overflow: hidden}
.alertStyle .mask .content .btn-group div{float: left;margin: 0 30px;}

.mainContent{position: absolute;top:98px;bottom: 92px;width: 100%; overflow-y: auto;}
.mainContentNoBottom{position: absolute;top:98px;bottom: 0px;width: 100%; overflow-y: auto;}

.leftBg{width: 8px;height: 32px;float:left;background: #ff6766;}

.checkbox .checkbox_label{
    margin:0 34px 0 0;display:inline-block;font-size: 30px;color: #1b2027;font-weight: 300;
}

.checkbox .checkbox_label:last-child{
    margin:0;
}
.checkbox .checkbox_input{
    display:none
}
.checkbox .checkbox_span{
    background-color:#1b2027;border:1px solid #1b2027;
    border-radius:5px;display:inline-block;font-size: 26px;
    height:27px;margin-right:10px;margin-top:-8px;
    vertical-align:middle;width:27px;line-height:1;color: #2a2f35;
}
.checkbox .checkbox_input:checked + .checkbox_span:after{
    content:"";display:inline-block;height:28px;width:28px;border-radius: 5px;;
    background: url(/asset/images/checkbox_checked.png) no-repeat 4px #1b2027;border:none;
}


@font-face {font-family: "iconfont";
    src: url('/asset/font/iconfont.eot?t=1517818207175'); /* IE9*/
    src: url('/asset/font/iconfont.eot?t=1517818207175#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/asset/font/iconfont.woff?t=1473155405') format('woff'), /* chrome, firefox */
    url('/asset/font/iconfont.ttf?t=1517818207175') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('/asset/font/iconfont.svg?t=1517818207175#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-nav1:before { content: "\e61f"; }

.icon-right:before { content: "\e604"; }

.icon-back:before { content: "\e6cd"; }

.icon-xin:before { content: "\e62b"; }

.icon-map:before { content: "\e607"; }

.icon-calendar:before { content: "\e608"; }

.icon-camera:before { content: "\e609"; }

.icon-xunjian:before { content: "\e60a"; }

.icon-tongji:before { content: "\e60b"; }

.icon-xuexiao:before { content: "\e60c"; }

.icon-zhidu:before { content: "\e60d"; }

.icon-tixi:before { content: "\e60e"; }

.icon-card:before { content: "\e60f"; }

.icon-qiandao:before { content: "\e610"; }

.icon-dingwei:before { content: "\e611"; }

.icon-tongzhi:before { content: "\e612"; }

.icon-jianbao:before { content: "\e613"; }

.icon-tongxunlu:before { content: "\e614"; }

.icon-zhishi:before { content: "\e615"; }

.icon-taolun:before { content: "\e616"; }

.icon-sousuo:before { content: "\e617"; }

.icon-nav3:before { content: "\e618"; }

.icon-nav2:before { content: "\e619"; }

.icon-nav4:before { content: "\e61a"; }

.icon-luxian:before { content: "\e61b"; }

.icon-wuzi:before { content: "\e61c"; }

.icon-huizhang:before { content: "\e61d"; }

.icon-yanlian:before { content: "\e61e"; }

.icon-jihua:before { content: "\e620"; }

.icon-yuan:before { content: "\e621"; }

.icon-fangdajing:before { content: "\e622"; }

.icon-xiazai:before { content: "\e623"; }

.icon-fenxiang:before { content: "\e624"; }

.icon-add:before { content: "\e625"; }

.icon-del:before { content: "\e626"; }

.icon-dianhua:before { content: "\e627"; }

.icon-daohang:before { content: "\e628"; }

.icon-ditu:before { content: "\e629"; }

.icon-weizhi:before { content: "\e62a"; }

.icon-wode:before { content: "\e62c"; }

.icon-renwu:before { content: "\e62d"; }

.icon-shoushi:before { content: "\e62e"; }

.icon-cailiao:before { content: "\e62f"; }

.icon-ruku:before { content: "\e630"; }

.icon-more:before { content: "\e679"; }

.icon-xia:before { content: "\e8c8"; }

.icon-bianji:before { content: "\e631"; }


